<tr style="background-color: ">
    <td style="color: #fff;
                border: 1px solid #eee;
                padding: 12px 35px;
                border-collapse: collapse;">test-method-report</td>
    <td style="color: #fff;
                border: 1px solid #eee;
                padding: 12px 35px;
                border-collapse: collapse;">test-result-report</td>
    <td style="color: #fff;
                border: 1px solid #eee;
                padding: 12px 35px;
                border-collapse: collapse;
                max-width: 300px; word-wrap: break-word; display: none;">test-error-report</td>
</tr>

<!--1f2e2e-->